RAG_ai_agent.json
{
  "name": "RAG ai agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OUncbx61MFGu5wd3lTEU7VdzqMh6J011",
          "mode": "list",
          "cachedResultName": "FAQS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OUncbx61MFGu5wd3lTEU7VdzqMh6J011"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ],
      "id": "d81f66fc-d4d4-48f9-ad5a-8840cd82a08c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q6XwFLGXhXj4EP4i",
          "name": "narasimhanaidu1909@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        0
      ],
      "id": "6b36be73-08fe-4976-80ae-426b9895d560",
      "name": "download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q6XwFLGXhXj4EP4i",
          "name": "narasimhanaidu1909@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-ai-agent",
          "mode": "list",
          "cachedResultName": "rag-ai-agent"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        140,
        0
      ],
      "id": "c93582f2-5d77-4f5f-819e-5e03a7c68eea",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "G07TxX0VgFLJUeYj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        280,
        220
      ],
      "id": "94a0f1e0-e68e-40eb-8668-93eb496e7359",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        360,
        380
      ],
      "id": "57ad5c6f-0f3d-4009-b620-4556d9ea8b3e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        200
      ],
      "id": "5f31ef4a-579c-4b04-b3fb-a47c7486741c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "9oITPCXAKXN5TWhh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        840,
        40
      ],
      "id": "83e00a41-d1c9-4e45-8122-0fb6e103f921",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        660,
        40
      ],
      "id": "6463b921-37b3-4039-95de-7d2507830d1d",
      "name": "When chat message received",
      "webhookId": "aa0b0a9e-4065-47f9-9a8c-4c1fd4675db8"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        740,
        240
      ],
      "id": "75c2dcb2-7683-429e-8c12-410ddb799a4f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9oITPCXAKXN5TWhh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "using this tool for accessing policy and FAQs DB",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-ai-agent",
          "mode": "list",
          "cachedResultName": "rag-ai-agent"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1100,
        280
      ],
      "id": "56169f55-5805-4d1d-97fa-239e2baf1dab",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "G07TxX0VgFLJUeYj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1020,
        480
      ],
      "id": "3fa15a47-27fa-41a8-b399-03b45f7ca8ff",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "9oITPCXAKXN5TWhh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "640f746b-971d-40c1-8355-00ced73e631f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df2f67acc773fe0b241a1e5b505c45e0a9ae663c9b08105514e7230e87a72062"
  },
  "id": "pWx3nLl07ukmDcbW",
  "tags": []
}